*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* TODO MI INDEX*/
.grid-container{
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 250px 100px auto 120px;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}


body{
width: 100%;
height: 100%;
background-image: url(../img/fondoimportante.webp);
}

.encabezado{
    grid-area: header;
}
@media screen and (max-width: 587px){
    .encabezado{
        width: 100%;
        display: flex;
        flex-direction: column;

    }
}

.image-logo{
    width: 100%;
    height: 100%;
}


.menu{
    background-color:gray;
    grid-area: nav;
    height: 80px;
}

@media screen and (max-width: 587px){
    .menu{
        height: 85px;
    }
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

@media screen and (max-width: 587px){
    .menu ul{
        display: flex;
        flex-direction: row;
       justify-content: space-evenly;
       
    }
}

.menu ul li a{
    text-decoration: none;
    color: rgb(7, 6, 6);
}

.titulos-principales{
    margin-top: 30px;
}

@media screen and (max-width: 587px){
    .titulos-principales{
        margin-top: 5px;
    }
}

@media screen and (max-width: 380px){
    .titulos-principales{
        margin-top: 10px;
    }
}


.titulo-oferta{
    margin-top: 40px;
}

.name-oferta{
    margin-top: 40px;
}
/* me modifica las secciones*/
.contenido{
    grid-area: main;
    text-align: center;
}

.contenido .titulos-principales{
   color: black;
}

.video iframe{
    margin-bottom: 40px;
}

@media screen and (max-width:579px) {
    .video iframe{
        padding: 0px;
        width: 285px;
        height: 213px;
    }
}

.pie{
    background-color: rgb(8, 8, 8);
    grid-area: footer;
  text-align: center;
  color: blanchedalmond;
  margin:0;
  height: 122px;
}
@media screen and (max-width: 536px) {
    .pie{
      height: 200px;
    }
}

.re-des{
list-style: none;
display: flex;
justify-content: space-evenly;
align-items: center;
}

.imagen-redes{
width: 35px;
height: 35px;
}

.copy{
    text-align: center;
    margin-top: 14px;
}
@media screen and (max-width: 536px) {
    .copy{
        overflow: visible;
        white-space: initial;
        display: flex;
        flex-direction: column;
    }
}
/* ID DE LOS CARRUSEL */
#carouselExampleIndicators{
    width: 60%;
    margin: 0 auto;
    border: solid 5px;
}

#carouselExampleControls{
    width: 60%;
    margin: 0 auto;
    border: solid 5px;
}
/* fin de index*/

/*nosotros*/
.title-principal{
    color: white;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
    margin: 20px;
}

.history p{
    background-color: grey;
    text-align: center;
    font-size: 20px;
    color: rgb(3, 3, 3);
    margin: 20px;
    border: solid 2px rgb(7, 7, 7);
    padding: 30px;
}
/* fin nosotros*/

/*producos*/

.title-principal{
    color: black;
}

.contenedor{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}


.card{
    border: solid 3px;
    width: 85px;
    padding: 90px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(15, 12, 11);
    border-radius: 5px;
    color: yellow;
    box-shadow: 3px 3px;
}



.card__image{
    width: 100px;
    height: 100px;
    display: flex;
    }
 
/* cards produtos ventas*/

.contenedor-1{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

@media screen and (max-width: 770px) {
    .contenedor-1{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 498px) {
    .contenedor-1{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
}

.card__images{
    width: 50px;
    height: 50px;
    }

/*fin cards productos ventas*/
/* especificacion de productos*/
.cards-productos{
    border: solid 3px;
    width: 234px;
    height: 284px;
    padding: 44px 54px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(15, 12, 11);
    border-radius: 5px;
    color: yellow;
    box-shadow: 3px 3px;
    box-sizing: border-box;
}

.cards-productos p{
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    display: inline;
}

.card__images{
    width: 50px;
    height: 50px;
    }

    .cards-productos2{
        border: solid 3px;
        width: 268px;
        height: 330px;
        padding: 53px 28px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(15, 12, 11);
        border-radius: 5px;
        color: yellow;
        box-shadow: 3px 3px;
        box-sizing: border-box;
    }

.card-accesorios{   
border: solid 3px;
width: 268px;
height: 330px;
padding: 53px 28px;
margin: 20px;
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(15, 12, 11);
border-radius: 5px;
color: rgb(0, 68, 255);
box-shadow: 3px 3px;
box-sizing: border-box;
}
/*fin productos*/


/*accesorios*/



.contenedor-accesorios{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

@media screen and (max-width: 930px) {
    .contenedor-accesorios{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 628px) {
    .contenedor-accesorios{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 465px) {
    .contenedor-accesorios{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
}



.card__images{
    width: 100px;
    height: 100px;
    align-items: center;
    }

.precio{
    color: white;
}

.boton{
    font-size: 15px;
    color: rgb(3, 3, 1);
    background-color: rgb(228, 224, 5);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.boton:hover{
    color: white;
}
/* fin accesorios*/


/*formulario*/
.form fieldset{
    border: solid 2px rgb(7, 7, 7);
    width: 400px;
    height: 531px;
    background-color: grey;
    margin: auto;
    color: rgb(247, 241, 241);

}
.formulario{
    margin-bottom: 100px;
}

.form label{
    margin-bottom: 10px;
}
.form label,
input{
    padding: 10px;
    font-size: 18px;
    width: 90%;
    border-radius: 10px;
    padding-left: 15px ;
    color: rgb(150, 46, 46);
    text-transform: uppercase;
  }

  .form .boton-form{
    padding: 10px;
    width: 95%;
    color: black;
    background-color:rgb(245, 241, 12);
    margin-top: 20px;
    cursor: pointer;
  }

  .form .boton-form:hover{
    background-color: black;
    color: bisque;
  }

  .form .title{
    text-align: center;
    padding-top: 35px;
  }
/* fin formulario*/

/* paginas de productos*/

.title-principal-1{
    color: rgb(224, 19, 19);
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
    margin: 20px;
}


