/*EXTEND*/
.contenido .contenedor-14 .cards-productos2 .button, .contenido .contenedor-13 .cards-productos2 .button, .contenido .contenedor-12 .cards-productos2 .button, .contenido .contenedor-11 .cards-productos2 .button, .contenido .contenedor-10 .cards-productos2 .button, .contenido .contenedor-9 .cards-productos2 .button, .contenido .contenedor-8 .cards-productos2 .button, .contenido .contenedor-7 .cards-productos2 .button, .contenido .contenedor-6 .cards-productos2 .button, .contenido .contenedor-5 .cards-productos2 .button, .contenido .contenedor-4 .cards-productos2 .button, .contenido .contenedor-3 .cards-productos2 .button {
  background-color: rgb(10, 10, 10);
  color: white;
  border-radius: solid 1px;
  padding: 10px;
}

.contenido .contenedor-14 .cards-productos2, .contenido .contenedor-13 .cards-productos2, .contenido .contenedor-12 .cards-productos2, .contenido .contenedor-11 .cards-productos2, .contenido .contenedor-10 .cards-productos2, .contenido .contenedor-9 .cards-productos2, .contenido .contenedor-8 .cards-productos2, .contenido .contenedor-7 .cards-productos2, .contenido .contenedor-6 .cards-productos2, .contenido .contenedor-5 .cards-productos2, .contenido .contenedor-4 .cards-productos2, .contenido .contenedor-3 .cards-productos2 {
  border: solid 3px;
  width: 235px;
  height: 318px;
  padding: 15px 6px;
  margin: 20px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(3, 3, 3);
  box-shadow: 3px 3px 3px 3px;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* TODO MI INDEX*/
body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../img/fondoimportante.webp");
}

/* PARTE DEL HEADER Y NAV*/
.encabezado .image-logo {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 587px) {
  .encabezado {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
/*NAVBAR DE BOOTSTRAP*/
.navbar {
  background-color: black;
}

.nav-link {
  color: white;
}

.navbar-collapse {
  justify-content: center;
  align-items: center;
}

/* FIN DEL HEADER Y MENU*/
/*INICIO DEL MAIN*/
@media screen and (max-width: 587px) {
  .titulos-principales {
    margin-top: 5px;
  }
}
@media screen and (max-width: 380px) {
  .titulos-principales {
    margin-top: 10px;
  }
}
/*  Secciones*/
.contenido {
  text-align: center;
  /* ID DE LOS CARRUSEL */
}
.contenido .titulos-principales {
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}
.contenido .titulo-oferta {
  margin-top: 40px;
  color: white;
}
.contenido .video iframe {
  margin-bottom: 40px;
}
.contenido #carouselExampleIndicators {
  width: 60%;
  height: 60%;
  margin: 0 auto;
  border: solid 5px white;
}
.contenido #carouselExampleControls {
  width: 60%;
  height: 60%;
  margin: 0 auto;
  border: solid 5px white;
}

@media screen and (max-width: 579px) {
  .video iframe {
    padding: 0px;
    width: 285px;
    height: 213px;
  }
}
/* WHATSAPP*/
.container-boton {
  background-color: #2e6329;
  border: 1px solid;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 126px;
  right: 25px;
  padding: 5px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}
.container-boton .container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.container-boton .boton {
  width: 30px;
  transition: ease 1s;
}
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(252, 250, 250, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(241, 240, 240, 0);
  }
}

@media screen and (max-width: 552px) {
  .container-boton {
    bottom: 208px;
    right: 7px;
  }
}
/*COMIENZA EL FOOTER*/
.footer {
  background-color: rgb(8, 8, 8);
  text-align: center;
  color: white;
  margin: 0;
  height: 122px;
}
.footer .re-des {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .re-des .imagen-redes {
  width: 35px;
  height: 35px;
}
.footer .copy {
  text-align: center;
  margin-top: 14px;
}

@media screen and (max-width: 536px) {
  .footer {
    height: 200px;
  }
}
@media screen and (max-width: 536px) {
  .copy {
    overflow: visible;
    white-space: initial;
    display: flex;
    flex-direction: column;
  }
}
/*TERMINA EL FOOTER*/
/* FIN DE INDEX*/
.contenido {
  /*CONTENEDOR ACCESORIOS*/
}
.contenido .contenedor-accesorios {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.contenido .contenedor-accesorios .card-accesorios {
  border: solid 3px;
  width: 234px;
  height: 330px;
  padding: 14px 1px;
  margin: 20px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  color: rgb(5, 5, 5);
  box-shadow: 3px 3px 3px 3px;
  box-sizing: border-box;
}
.contenido .contenedor-accesorios .card-accesorios .card__images {
  width: 150px;
  height: 150px;
  align-items: center;
  margin-bottom: 10px;
}
.contenido .contenedor-accesorios .card-accesorios .precio {
  color: rgb(8, 8, 8);
  margin-top: 12px;
}
.contenido .contenedor-accesorios .card-accesorios .boton {
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(8, 8, 8);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
.contenido .contenedor-accesorios .card-accesorios .boton:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/*FIN DE ESPECIFICACIONES DE PRODUCTOS*/
@media screen and (max-width: 826px) {
  .contenido .contenedor-accesorios {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media screen and (max-width: 550px) {
  .contenido .contenedor-accesorios {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
/* FIN ACCESORIOS*/
/* CARDS PRODUCTOS VENTAS*/
.contenido .contenedor-3 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.contenido .contenedor-3 .cards-productos2 .card__images {
  width: 120px;
  height: 117px;
  margin-bottom: 10px;
}
.contenido .contenedor-3 .cards-productos2 p {
  color: rgb(7, 7, 7);
  text-align: center;
  display: inline;
}

@media screen and (max-width: 829px) {
  .contenido .contenedor-3 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media screen and (max-width: 557px) {
  .contenido .contenedor-3 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
/*FIN CARDS PRODUCTOS VENTAS*/
/* ESPECIFICACIONES DE PRODUCTOS*/
/*FORMULARIO*/
.contenido .formulario {
  margin-bottom: 100px;
}
.contenido .form fieldset {
  border: solid 2px rgb(7, 7, 7);
  width: 400px;
  height: 531px;
  background-color: grey;
  margin: auto;
  color: white;
}
.contenido .form fieldset label {
  margin-bottom: 10px;
}
.contenido .form fieldset label,
.contenido .form fieldset input {
  padding: 10px;
  font-size: 18px;
  width: 90%;
  border-radius: 10px;
  padding-left: 15px;
  color: rgb(150, 46, 46);
  text-transform: uppercase;
}
.contenido .form fieldset .boton-form {
  padding: 10px;
  width: 95%;
  color: black;
  background-color: rgb(245, 241, 12);
  margin-top: 20px;
  cursor: pointer;
}

.form .boton-form:hover {
  background-color: black;
  color: bisque;
}

/* FIN FORMULARIO*/
@media screen and (max-width: 420px) {
  .contenido .form fieldset {
    width: 300px;
    height: 520px;
  }
}
/* CARDS PRODUCTOS VENTAS*/
.contenido .contenedor-4 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.contenido .contenedor-4 .cards-productos2 .card__images {
  width: 120px;
  height: 117px;
  margin-bottom: 10px;
}
.contenido .contenedor-4 .cards-productos2 p {
  color: rgb(7, 7, 7);
  text-align: center;
  display: inline;
}

@media screen and (max-width: 830px) {
  .contenido .contenedor-4 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media screen and (max-width: 548px) {
  .contenido .contenedor-4 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
/* ESPECIFICACIONES DE PRODUCTOS*/
.contenido .contenedor-5 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.contenido .contenedor-5 .cards-productos2 .card__images {
  width: 120px;
  height: 117px;
  margin-bottom: 10px;
}
.contenido .contenedor-5 .cards-productos2 p {
  color: rgb(7, 7, 7);
  text-align: center;
  display: inline;
}

@media screen and (max-width: 826px) {
  .contenido .contenedor-5 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media screen and (max-width: 550px) {
  .contenido .contenedor-5 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
.contenido .contenedor-6 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.contenido .contenedor-6 .cards-productos2 .card__images {
  width: 120px;
  height: 117px;
  margin-bottom: 10px;
}
.contenido .contenedor-6 .cards-productos2 p {
  color: rgb(7, 7, 7);
  text-align: center;
  display: inline;
}

@media screen and (max-width: 826px) {
  .contenido .contenedor-6 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media screen and (max-width: 550px) {
  .contenido .contenedor-6 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
.contenido .contenedor-7 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.contenido .contenedor-7 .cards-productos2 .card__images {
  width: 120px;
  height: 117px;
  margin-bottom: 10px;
}
.contenido .contenedor-7 .cards-productos2 p {
  color: rgb(7, 7, 7);
  text-align: center;
  display: inline;
}

@media screen and (max-width: 826px) {
  .contenido .contenedor-7 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media screen and (max-width: 550px) {
  .contenido .contenedor-7 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
.contenido .contenedor-8 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.contenido .contenedor-8 .cards-productos2 .card__images {
  width: 120px;
  height: 117px;
  margin-bottom: 10px;
}
.contenido .contenedor-8 .cards-productos2 p {
  color: rgb(7, 7, 7);
  text-align: center;
  display: inline;
}

@media screen and (max-width: 826px) {
  .contenido .contenedor-8 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media screen and (max-width: 550px) {
  .contenido .contenedor-8 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
.contenido .container .history {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 2px rgb(7, 7, 7);
  background-color: grey;
  color: black;
  gap: 30px;
  padding: 30px;
  margin-bottom: 40px;
}
.contenido .container .history .imagen-local {
  width: 410px;
  height: 310px;
}
.contenido .container .history p {
  text-align: center;
  font-size: 20px;
  color: rgb(3, 3, 3);
  margin-left: 30px;
}
.contenido .map {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.contenido .map h2 {
  color: white;
}
.contenido .map iframe {
  margin-bottom: 40px;
}

@media screen and (max-width: 989px) {
  .contenido .container .history {
    flex-direction: column;
  }
}
@media screen and (max-width: 620px) {
  .contenido .map iframe {
    padding: 0px;
    width: 285px;
    height: 213px;
  }
  .contenido .map h2 {
    text-align: center;
  }
}
@media screen and (max-width: 473px) {
  .contenido .container .history .imagen-local {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}
@media screen and (max-width: 473px) {
  .contenido .container .history p {
    flex-direction: column;
    margin: 0;
  }
}
.contenido .contenedor-2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.contenido .card {
  border: solid 3px;
  width: 222px;
  height: 299px;
  padding: 64px 6px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  color: rgb(5, 5, 5);
  box-shadow: 3px 3px 3px 3px;
}
.contenido .card .card__image {
  width: 100px;
  height: 100px;
  display: flex;
  margin-bottom: 20px;
}

@media screen and (max-width: 818px) {
  .contenido .contenedor-2 {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media screen and (max-width: 552px) {
  .contenido .contenedor-2 {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
/*PRODUCTOS*/
.card:hover {
  background-color: #616161;
}

.contenido .title {
  color: white;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  margin: 20px;
  border-bottom: 1px solid white;
}
.contenido .contenedor-9 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.contenido .contenedor-9 .cards-productos2 .card__images {
  width: 120px;
  height: 117px;
  margin-bottom: 10px;
}
.contenido .contenedor-9 .cards-productos2 p {
  color: rgb(7, 7, 7);
  text-align: center;
  display: inline;
}

@media screen and (max-width: 826px) {
  .contenido .contenedor-9 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media screen and (max-width: 550px) {
  .contenido .contenedor-9 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
.contenido .contenedor-10 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.contenido .contenedor-10 .cards-productos2 .card__images {
  width: 120px;
  height: 117px;
  margin-bottom: 10px;
}
.contenido .contenedor-10 .cards-productos2 p {
  color: rgb(7, 7, 7);
  text-align: center;
  display: inline;
}

@media screen and (max-width: 826px) {
  .contenido .contenedor-10 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media screen and (max-width: 550px) {
  .contenido .contenedor-10 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
.contenido .contenedor-11 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.contenido .contenedor-11 .cards-productos2 .card__images {
  width: 120px;
  height: 117px;
  margin-bottom: 10px;
}
.contenido .contenedor-11 .cards-productos2 p {
  color: rgb(7, 7, 7);
  text-align: center;
  display: inline;
}

@media screen and (max-width: 826px) {
  .contenido .contenedor-11 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media screen and (max-width: 550px) {
  .contenido .contenedor-11 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
.contenido .contenedor-12 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.contenido .contenedor-12 .cards-productos2 .card__images {
  width: 120px;
  height: 117px;
  margin-bottom: 10px;
}
.contenido .contenedor-12 .cards-productos2 p {
  color: rgb(7, 7, 7);
  text-align: center;
  display: inline;
}

@media screen and (max-width: 826px) {
  .contenido .contenedor-12 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media screen and (max-width: 550px) {
  .contenido .contenedor-12 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
.contenido .contenedor-13 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.contenido .contenedor-13 .cards-productos2 .card__images {
  width: 120px;
  height: 117px;
  margin-bottom: 10px;
}
.contenido .contenedor-13 .cards-productos2 p {
  color: rgb(7, 7, 7);
  text-align: center;
  display: inline;
}

@media screen and (max-width: 826px) {
  .contenido .contenedor-13 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media screen and (max-width: 550px) {
  .contenido .contenedor-13 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
.contenido .contenedor-14 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.contenido .contenedor-14 .cards-productos2 .card__images {
  width: 120px;
  height: 117px;
  margin-bottom: 10px;
}
.contenido .contenedor-14 .cards-productos2 p {
  color: rgb(7, 7, 7);
  text-align: center;
  display: inline;
}

@media screen and (max-width: 826px) {
  .contenido .contenedor-14 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media screen and (max-width: 550px) {
  .contenido .contenedor-14 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
