
.card-accesorios{   
    border: solid 3px;
    width: 234px;
    height: 330px;
    padding: 23px 7px;
    margin: 20px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    border-radius: 5px;
    color: rgb(5, 5, 5);
    box-shadow: 3px 3px 3px 3px;
    box-sizing: border-box;
    }
    /*FIN DE ESPECIFICACIONES DE PRODUCTOS*/
    
    
    /*ACCESORIOS*/
    .contenedor-accesorios{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
    }
    
    @media screen and (max-width: 930px) {
        .contenedor-accesorios{
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media screen and (max-width: 628px) {
        .contenedor-accesorios{
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(1, 1fr);
        }
    }
    
    @media screen and (max-width: 465px) {
        .contenedor-accesorios{
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(1, 1fr);
        }
    }
    
    
    
    .card__images{
        width: 100px;
        height: 100px;
        align-items: center;
        }
    
    .precio{
        color: white;
    }
    
    .boton{
        font-size: 15px;
        color: rgb(5, 5, 5);
        background-color: rgb(255, 255, 255);
        padding: 5px;
        border-radius: 5px;
        text-align: center;
    }
    
    .boton:hover{
        background-color: rgb(2, 2, 2);
        color: rgb(5, 5, 5);
    }
    /* FIN ACCESORIOS*/