/*FORMULARIO*/
.contenido{
  .formulario{
    margin-bottom: 100px;
}
.form fieldset{
  border: solid 2px $color-secundario;
  width: 400px;
  height: 531px;
  background-color: $color-terciario;
  margin: auto;
  color:$color-primario;
  label{
    margin-bottom: 10px;
}

label,
input{
    padding: 10px;
    font-size: 18px;
    width: 90%;
    border-radius: 10px;
    padding-left: 15px ;
    color: $color-terciario;
    text-transform: uppercase;
  }

  .boton-form{
    padding: 10px;
    width: 95%;
    color: $color-primario;
    background-color: $color-secundario;
    margin-top: 20px;
    cursor: pointer;
    
&:hover{
  color: $color-secundario;
  background-color: $color-primario;
}
  
  }

}
}


/* FIN FORMULARIO*/

@media screen and (max-width: 420px) {
.contenido .form fieldset{
  width: 300px;
  height: 520px;
  }
}