/*FORMULARIO*/
.contenido{
  .formulario{
    margin-bottom: 100px;
}
.form fieldset{
  border: solid 2px rgb(7, 7, 7);
  width: 400px;
  height: 531px;
  background-color: grey;
  margin: auto;
  color: rgb(247, 241, 241);
  label{
    margin-bottom: 10px;
}

label,
input{
    padding: 10px;
    font-size: 18px;
    width: 90%;
    border-radius: 10px;
    padding-left: 15px ;
    color: rgb(150, 46, 46);
    text-transform: uppercase;
  }

  .boton-form{
    padding: 10px;
    width: 95%;
    color: black;
    background-color:rgb(245, 241, 12);
    margin-top: 20px;
    cursor: pointer;
  }
}
}

  .form .boton-form:hover{
    background-color: black;
    color: bisque;
  }

/* FIN FORMULARIO*/
