.contenido {

 

    .contenedor-6 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;

        .cards-productos2 {
            @extend  %card-licores;

            .card__images {
                width: 120px;
                height: 117px;
                margin-bottom: 10px;
            }
            button {
                @extend %botones;
            }
            p {
                color: rgb(7, 7, 7);
                text-align: center;
                display: inline;
            }
        }
    }
}

@media screen and (max-width: 826px) {
    .contenido .contenedor-6{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
}

@media screen and (max-width: 550px) {
   .contenido .contenedor-6 {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }
}