@mixin para-mis-a {
    text-decoration: none;
    
}

@mixin reseteo-margenes {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@mixin title {
    color: $color-primario;
        text-align: center;
        padding: 15px;
        text-transform: uppercase;
        margin: 20px;
        border-bottom: 1px solid $color-primario;
    
}