* {
   @include reseteo-margenes;
}

a{ 
    @include para-mis-a;
}

/* TODO MI INDEX*/
body {
    width: 100%;
    height: 100%;
    background-image: $bg-image;
}

/* PARTE DEL HEADER Y NAV*/

.encabezado {
    .image-logo {
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width: 587px) {
    .encabezado {
        width: 100%;
        display: flex;
        flex-direction: column;

    }
}


/* FIN DEL HEADER Y MENU*/

/*INICIO DEL MAIN*/

@media screen and (max-width: 587px) {
    .titulos-principales {
        margin-top: 5px;
    }
}

@media screen and (max-width: 380px) {
    .titulos-principales {
        margin-top: 10px;
    }
}

/*  Secciones*/
.contenido {
    text-align: center;

    .titulos-principales {
        margin-top: 30px;
        color: $color-primario;
    }

    .titulo-oferta {
        margin-top: 40px;
        color:$color-primario;
    }

    .video iframe {
        margin-bottom: 40px;

    }

  
    /* ID DE LOS CARRUSEL */

    #carouselExampleIndicators {
        width: 60%;
        margin: 0 auto;
        border: solid 5px white;
    }

    #carouselExampleControls {
        width: 60%;
        margin: 0 auto;
        border: solid 5px white;
    }
}

@media screen and (max-width:579px) {
    .video iframe {
        padding: 0px;
        width: 285px;
        height: 213px;
    }
}


/* WHATSAPP*/
.wsp {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .wsp1-img {
        width: 50px;
        height: 50px;
    }

}

/*COMIENZA EL FOOTER*/
.footer {
    background-color: rgb(8, 8, 8);
    text-align: center;
    color:$color-primario;
    margin: 0;
    height: 122px;

    .re-des {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .imagen-redes {
            width: 35px;
            height: 35px;
        }
    }

    .copy {
        text-align: center;
        margin-top: 14px;
    }
}

@media screen and (max-width: 536px) {
    .footer {
        height: 200px;
    }
}

@media screen and (max-width: 536px) {
    .copy {
        overflow: visible;
        white-space: initial;
        display: flex;
        flex-direction: column;
    }
}

/*TERMINA EL FOOTER*/

/* FIN DE INDEX*/