$bg-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../img/fondoimportante.webp");
$color-primario: #FFFFFF;
$color-secundario: #000000;
$color-terciario:#757575;


/*EXTEND*/
%botones{
    font-size: 15px;
    color: $color-primario;
    background-color: $color-secundario;
    padding: 5px;
    border-radius: 5px;
    text-align: center;

    &:hover{
        background-color: $color-primario;
                    color:$color-secundario;
    }
 
}

%card-licores{
    border: solid 3px;
    width: 235px;
    height: 318px;
    padding: 15px 6px;
    margin: 20px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primario;
    border-radius: 5px;
    color: $color-secundario;
    box-shadow: 3px 3px 3px 3px;
    box-sizing: border-box;
}