$bg-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../img/fondoimportante.webp");
$color-primario: white;
$color-secundario: black;
$color-terciario: grey;


/*EXTEND*/
%botones{
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(8, 8, 8);
    padding: 5px;
    border-radius: 5px;
    text-align: center;

    &:hover{
        background-color: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
    }
 
}

%card-licores{
    border: solid 3px;
    width: 235px;
    height: 318px;
    padding: 15px 6px;
    margin: 20px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(3, 3, 3);
    box-shadow: 3px 3px 3px 3px;
    box-sizing: border-box;
}